@use '@/scss/_mixins' as *;

.logo-icon {
  width: 115px;
  height: 25px;
}
.vk-icon {
  width: 21px;
  height: 12px;
}
.ok-icon {
  width: 11px;
  height: 18px;
}
.facebook-icon {
  width: 9px;
  height: 17px;
}
.inst-icon {
  width: 16px;
  height: 18px;
  @include desktop {
  }
}
.progress-icon {
  width: 66px;
  height: 62px;
}
.training-icon {
  width: 78px;
  height: 74px;
}
.responsibility-icon {
  width: 68px;
  height: 67px;
}
.dynamics-icon {
  stroke: #4f4f4f;
  width: 93px;
  height: 57px;
}
.comfort-icon {
  width: 72px;
  height: 72px;
}
.reliability-icon {
  width: 55px;
  height: 69px;
}
