@use '@/scss/_variables' as *;

@mixin tablet($breakpoint: 768px) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin desktop($breakpoint: $desktop-content) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin padding {
  padding: 0px 20px;
  @include tablet {
    padding: 0px 40px;
  }
  @include desktop {
    padding: 0px;
  }
}

@mixin center($align-items: center, $justify-content: center) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}
@mixin pagination {
  position: static;
  text-align: center;

  ::v-deep(.swiper-pagination-bullet) {
    height: 6px;
    width: 6px;
    @content;

    &.swiper-pagination-bullet-active {
      background-color: $orange-color;
    }
  }
}
@mixin container($mb: $mobile-content, $tb: $tablet-content, $st: $desktop-content) {
  margin: auto;
  width: $mb;
  height: 100%;

  @include tablet {
    max-width: $tb;
  }
  @include desktop {
    max-width: $st;
  }
}

@mixin cta-btn {
  border: none;
  background-color: $orange-color;
  padding: 20px 30px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: $white-color;
  @include tablet {
    padding: 22px 35px;
    font-size: 16px;
    line-height: 18px;
  }
}

@mixin baseInput {
  position: relative;
  height: 50px;

  @include tablet {
    height: 70px;
  }
  &--error &__label-placeholder,
  &--focus &__label-placeholder {
    top: 15px;
    font-size: 13px;
  }

  &--error &__label-icon {
    color: $dark-color;
  }

  &--error &__input {
    border: 1px solid #be1a1a !important;
    background: #fff;
  }

  &--focus &__input {
    border: 1px solid #e0e0e0;
    background: #fff;
  }

  &__input {
    width: 100%;
    height: 100%;
    padding: 35px 0 15px 28px;
    border: none;
    outline: none;
    font-size: 12px;
    background: #f2f2f2;
    transition: all 0.3s;
    color: #242627;
    @include tablet {
      font-size: 16px;
    }

    &::placeholder {
      font-size: inherit;
      color: #e0e0e0;
    }
  }

  &__error {
    color: #be1a1a;
    font-size: 11px;
  }
  &__label-placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 28px;
    font-size: 12px;
    color: $gray-dark-color;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.2, 0, 0.2, 1);

    @include tablet {
      font-size: 16px;
    }
  }
  &__label-icon {
    position: absolute;
    right: 21px;
    top: 50%;
    transform: translateY(-50%);
    color: #27ae60;
  }
}
