$dark-color: #242627;
$gray-color: #f7f7f7;
$gray-dark-color: #828282;
$orange-color: #e9862a;
$white-color: #fff;
$blue-color: #187cd3;

$border-color: #e0e0e0;

$desktop-content: 1180px;
$tablet-content: 688px;
$mobile-content: 100%;

$main-font: 'Helios', sans-serif;
$gilroy-font: 'Gilroy', sans-serif;
