$orange-color: #e9862a;

$dark-color: #242627;
$gray-color: #f7f7f7;
$gray-dark-color: #828282;
$orange-color: #e9862a;
$white-color: #fff;
$blue-color: #187cd3;
$stroke-color: #ededed;
$border-color: #e0e0e0;
